#
# Copyright (c) 2019-2021 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# File: .github/workflows/update-checker.yml
# Description: Source code update checker
#

name: Update Checker

env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

    - name: Get Commit Hash
      id: getHash
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH lede
        cd lede
        echo "commitHash=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"

    - name: Compare Commit Hash
      id: cacheHash
      uses: actions/cache@v4
      with:
        path: .commitHash
        key: HEAD-${{ github.sha }}
        restore-keys: HEAD-

    - name: Save New Commit Hash
      id: save
      run: |
        if [ -f .commitHash ];then
          cachehash=$(cat ./commitHash)
        fi
        if [ "${cachehash}" != "${{ steps.getHash.outputs.commitHash }}" ];then
          echo "build=true" >> "$GITHUB_OUTPUT"
          echo ${{ steps.getHash.outputs.commitHash }} | tee .commitHash
        else
          echo "build=false" >> "$GITHUB_OUTPUT"
        fi

    - name: Trigger build
      if: steps.save.outputs.build == 'true'
      uses: peter-evans/repository-dispatch@v3
      with:
        token: ${{ secrets.ACTIONS_TRIGGER_PAT }}
        event-type: Build_OpenWrt

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 1
